<!DOCTYPE html>
<html>
<head>
    <title>hello</title>
</head>
<body>
    {% if user.is_authenticated%}
        {{user}}    
        <a href="{% url 'logout' %}">logout</a>
    {%else%}
        <a href="{% url 'login'  %}">login</a>
        <a href="{% url 'register' %}">register</a>
    {%endif%}
    <br/><br/><h1><a href="{% url 'input' %}">add records</a></h1>
    {% for i in datas%}
    <h1><a href="{% url 'details' i.id %}">{{i.name}}</a></h1>
    <a href="{% url 'deletes' i.id %}">delete</a>
    {%endfor%}
</body>
</html>